@import "component/variable";
[v-cloak]{
    display: none;
}
#app {
    background: url("../../images/index_bg.jpg" + $clear_web) center top no-repeat;
    background-size: cover;
    max-width:to_rem(750);
    width: 100%;
    margin: 0 auto;
}
.nav_stores{
    width: 100%;
    .nav_stores_sidebar{
        width: to_rem(685);
        margin:  0 auto;
        ul{
            list-style: none;
            padding-top: to_rem(37);
            li{
                margin-bottom:to_rem(80);
                div:nth-of-type(1){
                    position: relative;
                    width: to_rem(685);
                    height: to_rem(300);
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    p{
                        position: absolute;
                        top: to_rem(20);
                        right: to_rem(15);
                        font-size: to_rem(26);
                        color: #fff;
                        background: rgba(0,0,0,1);
                        padding: 2px 5px;
                        border-radius: 5px;
                    }
                }
                div:nth-of-type(2){
                    position: relative;
                    height: to_rem(78);
                    line-height: to_rem(78);
                    background: rgba(0,0,0,.5);
                    border-radius: 0 0 5px 5px;
                    p{
                        margin-left: to_rem(20);
                        i{
                            display: inline-block;
                            width: to_rem(39);
                            height: to_rem(50);
                            background: url(/html/static/images/icons_address.png) no-repeat;
                            background-size: contain;
                            vertical-align: middle;
                        }
                        span{
                            display: inline-block;
                            font-size: to_rem(26);
                            color: #fff;
                        }
                    }
                    a{
                        position: absolute;
                        right: to_rem(20);
                        bottom: to_rem(-62);
                        display: block;
                        width: to_rem(122);
                        height: to_rem(122);
                        background: url(/html/static/images/go.png) no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}