<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <title>{$meta_title}</title>
    <!--css-->
    <link rel="stylesheet" href="/html/static/style/css/main.css?t={$clear_web}">
    <link rel="stylesheet" href="/html/static/style/css/menu.css?t={$clear_web}">
</head>

<body>
    <div id="app" v-cloak>
        <!-- 门店头部导航 结束 -->
        <!-- 导航下属分类 开始-->
        <section class="nav_menu">
            <div class="nav_menu_sidebar">
                <a :class="menu_sidebar == 1?'active':''" href="javascript:;" @click="nav_menu_sidebar(1)">Recommend</a>
                <a :class="menu_sidebar == 2?'active':''" href="javascript:;" @click="nav_menu_sidebar(2)">MORE</a>
                <!-- <a :class="menu_sidebar == 3?'active':''" href="javascript:;" @click="nav_menu_sidebar(3)">Interior</a> -->
            </div>
            <ul class="nav_menu_list" v-if="menu_sidebar == 1">
                <li v-for="item in menu_data">
                    <img :src="item.pic" alt="">
                    <div class="nav_menu_list_title">
                        <div>
                            <p><i></i> <span class="rate" v-html="msg(item.rate)"></span></p>
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav_menu_list_02" v-if="menu_sidebar == 2">
                <li v-for="(item,index) in menu_data" @click="checkPicture(index)">
                    <img :src="item.pic" alt="">
                    <div>
                        <p>{{item.title_en}}</p>
                        <p>{{item.title}}</p>
                    </div>
                </li>
            </ul>
            <div class="checkAlert" v-show="checkAlert" v-cloak @click="checkAlert = false">
                <div class="swiper-container" id="menuBigImg">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(all,index) in menu_data" :key="index">
                            <img :src="all.pic" alt="">
                            <div class="toggle omg">
                                <p class="omg">
                                    <em class="omg">{{all.title_en}}</em><br>
                                    <em class="omg">{{all.title}}</em>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 导航下属分类 结束 -->
        <footer-component current="2"></footer-component>
    </div>
</body>

</html>
<script src="/html/require.js?t={$clear_web}"></script>
<script src="/html/static/script/menu.js?t={$clear_web}"></script>