<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>PIZZAgram.</title>
    <link rel="stylesheet" href="/webApp/static/style/css/default/main.css">
    <link rel="stylesheet" href="/webApp/static/style/css/page/personal/collaborationPlatforms.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="content">
        <img src="/webApp/static/images/pizza_friends_ad_bg01.jpg" alt="">
        <img src="/webApp/static/images/pizza_friends_ad_bg02.jpg" alt="">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <span class="name">Enjoy Member</span>
                    <ul class="text">
                        <li>1.享有TBC，Art de Sweets和Galleria 5%的用餐折扣优惠</li>
                        <li>2.一次性储值3000元赠送50元现金券(领券截止日期2017年12月31日）</li>
                        <li>3.商城所有商品免费邮寄</li>
                    </ul>
                    <ul class="text en">
                        <li>1.Get 5% discount of The Butchers Club, Art de Sweets,The Galleria.</li>
                        <li>2.Recharging RMB 3,000 at one time that you will get RMB 50 cash coupon. (Cash coupon promotion until 31st Dec 2017)</li>
                        <li>3.All goods from e-mall are free delivery.</li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <span class="name">Silver Member</span>
                    <ul class="text">
                        <li>1.TBC，Art de Sweets和Galleria 8%的用餐折扣优惠。</li>
                        <li>2.享有购买NS代理产品3%优惠。</li>
                        <li>3.享有樽尚汇指定合作商户免开瓶费。</li>
                        <li>4.享有樽尚汇一张葡萄酒品鉴活动门票。(北京，上海，广州）</li>
                    </ul>
                    <ul class="text en">
                        <li>1.Get 8% discount of The Butchers Club, Art de Sweets,The Galleria.</li>
                        <li>2.Get 3% discount of NS exclusive agent products.</li>
                        <li>3.Enjoy the quality wines without cockage fee from NSco-restaurants.(Please refer to the cooperation business policy)</li>
                        <li>4. All goods from e-mall are free delivery.</li>
                        <li>5.Get 1 wine tasting ticket. (Beijing, Shanghai, Guangzhou)</li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <span class="name">Golden Member  </span>
                    <ul class="text">
                        <li>1.TBC汉堡店，艺术甜品和galleria美食艺术馆10%的用餐折扣优惠</li>
                        <li>2.享有购买NS代理产品5%优惠。</li>
                        <li>3.享有购买商城精选产品3%优惠。</li>
                        <li>4.享有大陆地区所有莫尔顿餐厅及旗下餐厅用餐5%优惠</li>
                        <li>5.享有樽尚汇指定合作商户免开瓶费。(具体请参照各指定合作商户权限）</li>
                        <li>6.享有樽尚汇两张张葡萄酒品鉴活动门票。(北京，上海，广州）</li>
                    </ul>
                    <ul class="text en">
                        <li>1.Get 10% discount of The Butchers Club, Art de Sweets,The Galleria.</li>
                        <li>2.Get 5% discount of NS exclusive agent products</li>
                        <li>3.Get 10% discount of The Butchers Club, Art de Sweets, The Galleria.</li>
                        <li>4.Get 5% discount of NS exclusive agent products.</li>
                        <li>5.Enjoy the quality wines without cockage fee from NS
                            co-restaurants.(Please refer to the cooperation business policy)</li>
                        <li>6.Get 2 wine tasting tickets. (Beijing, Shanghai, Guangzhou)</li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <span class="name">Platinum Member</span>
                    <ul class="text">
                        <li>1.TBC汉堡店，艺术甜品和galleria美食艺术馆15%的用餐折扣优惠</li>
                        <li>2.享有购买NS代理产品10%优惠。</li>
                        <li>3.享有购买商城精选产品5%优惠。</li>
                        <li>4.享有大陆地区所有莫尔顿餐厅及旗下餐厅用餐8%优惠</li>
                        <li>5.享有樽尚汇指定合作商户免开瓶费。(具体请参照各指定合作商户权限）</li>
                        <li>6.享有樽尚汇两张葡萄酒品鉴活动门票。(北京，上海，广州）</li>
                        <li>7.享有樽尚汇一张葡萄酒晚宴门票。(北京，上海，广州）</li>
                    </ul>
                    <ul class="text en">
                        <li>1.Get 15% discount of The Butchers Club, Art de Sweets,The Galleria.</li>
                        <li>2.Get 10% discount of NS exclusive agent products.</li>
                        <li>3.Get 5% discount of world selection products.</li>
                        <li>4.Get 8% dining discount from Morton's Mainland China.
                            B/Enjoy the quality wines without cockage fee from NS
                            co-restaurants.(Please refer to the cooperation business policy)</li>
                        <li>5.Get 2 wine tasting tickets. (Beijing, Shanghai, Guangzhou)</li>
                        <li>6.Get 1 wine dinner ticket. (Beijing, Shanghai, Guangzhou)</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <img src="/webApp/static/images/pizza_friends_ad_bg03.jpg" alt="">
        <img src="/webApp/static/images/pizza_friends_ad_bg04.jpg" alt="">
        <img src="/webApp/static/images/pizza_friends_ad_bg05.jpg" alt="">
        <img src="/webApp/static/images/pizza_friends_ad_bg06.jpg" alt="">
    </div>
</div>
<script>
    var jsApi = {$jsapi};
</script>
<script src="/webApp/require.js"></script>
<script src="/webApp/static/script/personal/collaborationPlatforms.js"></script>
</body>
</html>
