<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>PIZZAgram.</title>
    <link rel="stylesheet" href="/webApp/static/style/css/default/main.css">
    <link rel="stylesheet" href="/webApp/static/style/css/page/loginRegister/selective-mode.css">
</head>
<body>
<div id="app">
    <div class="content">
        <div class="top-bg"></div>
        <div class="common NS" onclick="window.location.href ='shop.php?s=/member/login&refer={$refer}'"><span>樽尚汇&nbsp;|&nbsp;QUALITY&nbsp;&nbsp;&nbsp;log&nbsp;&nbsp;in</span></div>
        <div class="common phone" onclick="window.location.href ='shop.php?s=/member/login&refer={$refer}'">手机帐号登录&nbsp;|&nbsp;Phone&nbsp;account&nbsp;login</div>
        <div class="common register-acount" onclick="window.location.href ='shop.php?s=/member/login/type/2&refer={$refer}'">注册帐号&nbsp;|&nbsp;Register&nbsp;Account</div>
    </div>
</div>
</body>
</html>
