<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <title>PIZZAgram.</title>
    <link rel="stylesheet" href="/webApp/static/style/css/default/main.css">
    <link rel="stylesheet" href="/webApp/static/style/css/page/personal/recharge.css">
</head>
<body>
<div id="app">
    <div class="content" v-cloak>
        <div class="coupon-list">
            <ul>
                <li>
                    <p class="title">
                        <span>充值Recharge <em>1000RMB</em></span><br>
                        赠送20元优惠券1张<br>
                        Give 20 yuan coupons 1
                    </p>
                    <span class="price">3000RMB</span>
                    <span class="btn-status"></span>
                </li>
                <li class="cancel">
                    <p class="title">
                        <span>充值Recharge <em>1000RMB</em></span><br>
                        赠送20元优惠券1张<br>
                        Give 20 yuan coupons 1
                    </p>
                    <span class="price">3000RMB</span>
                    <span class="btn-status"></span>
                </li>
            </ul>
        </div>
        <div class="pay-type">
            <span class="active"></span>
            <p>微信支付(WeChat payment) <br><em>推荐安装微信5.0及以上版本的用户使用</em></p>
        </div>
        <div class="btn">确认支付confirm</div>
        <div class="detail-text">
            <div class="text">
                <p><span>PIZZAgram</span>与樽尚汇的合作优势</p>
                <p>更多储值优惠<em class="red">查看福利</em><br>
                    请长按识别右方二维码！</p>
            </div>
            <div class="qr">
                <img src="../../static/images/ns_qr.png" alt="">
            </div>
        </div>
    </div>
</div>
<script></script>
<script src="/webApp/require.js"></script>
<script>require(['static/script/personal/recharge'])</script>
</body>
</html>
